* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #303442;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 60px 0 0 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.container {
    display: flex;
    flex: 1;
    gap: 120px;
    padding: 60px;
    background-color: #131419;
    border-radius: 15px;
    overflow: hidden;
}

.profile {
    flex: 0 0 450px;
    padding: 30px;
    background-color: #181c24;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.profile-inner {
    width: 100%;
    padding-top: 40px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 20px;
}

.btn-primary {
    background-color: #20398d;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 0.8em;
}

.btn-primary:hover {
    background-color: #234cca;
}

.greeting {
    font-size: 2.8em;
    margin-top: 40px;
    text-align: left;
    line-height: 1.2;
}

.highlight {
    color: #00aafd;
}

.subtitle {
    font-size: 1.4em;
    margin: 5px 0;
}

.description {
    font-size: 0.8em;
    margin: 5px 0 15px;
    line-height: 1.5;
    text-align: left;
    color: #9d9da2;
    padding: 20px 0;
}

.btn-section-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-section {
    position: relative;
    font-size: 0.8em;
    background-color: transparent;
    color: #9d9da2;
    padding: 5px 10px; /* Added padding */
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: left;
    width: fit-content; /* Adjust width to fit content */
}

.btn-section::before {
    content: '•';
    color: #00aafd;
    display: none;
    position: absolute;
    left: -15px; /* Adjust position as needed */
    font-size: 1.2em;
}

.btn-section:hover,
.btn-section.selected {
    background-color: #20398d;
    border-color: #20398d;
    color: #fff;
    padding-left: 20px; /* Added padding for selected state */
    width: fit-content; /* Adjust width to fit content */
}

.btn-section.selected::before {
    display: inline-block;
}

.social-links {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 90px; /* Increased gap between social links */
    width: 100%;
}

.social-link {
    font-size: 0.8em;
    display: inline-block;
    color: #9d9da2;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-link img {
    width: 12px;
    height: 12px;
    padding: 0 1px 0 0;
}

.social-link:hover {
    color: #3a86ff;
}

.content {
    flex: 1;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    display: none;
}

.content-section {
    margin-bottom: 40px;
}


.project-grid, .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.project-card, .experience-card, .skill-card, .interest-card {
    background-color: #181c24;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: none;
    transition: transform 0.3s;
}

.project-card:hover, .experience-card:hover, .skill-card:hover, .interest-card:hover {
    transform: translateY(-10px);
    box-shadow: none;
}

.project-card img, .skill-card img {
    max-width: 100px;
    margin-bottom: 10px;
}

.project-title, .skill-card p {
    font-weight: bold;
    margin-bottom: 5px;
}

.project-tech {
    font-size: 0.9em;
    color: #aaa;
}

footer {
    font-size: 0.7em;
    text-align: center;
    padding: 10px 0;
    color: #9d9da2;
    background-color: transparent;
}
