* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #303442;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 60px 0 0 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.container {
    display: flex;
    flex: 1;
    gap: 70px;
    padding: 0 60px 0 60px;
    background-color: #131419;
    border-radius: 15px;
    overflow: hidden;
}

.profile {
    margin-top: 50px;
    margin-bottom: 40px;
    flex: 0 0 450px;
    padding: 30px;
    background-color: #181c24;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.profile-inner {
    width: 100%;
    padding-top: 40px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 20px;
}

.btn-primary {
    background-color: #20398d;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 0.8em;
}

.btn-primary:hover {
    background-color: #234cca;
}

.greeting {
    font-size: 2.8em;
    margin-top: 40px;
    text-align: left;
    line-height: 1.2;
}

.highlight {
    color: #00aafd;
}

.subtitle {
    font-size: 1.4em;
    margin: 5px 0;
}

.description {
    font-size: 0.8em;
    margin: 5px 0 5px;
    line-height: 1.8;
    text-align: left;
    color: #9d9da2;
    padding: 20px 0;
}

.btn-section-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-section {
    position: relative;
    font-size: 0.8em;
    background-color: transparent;
    color: #9d9da2;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: left;
    width: fit-content;
}

.btn-section::before {
    content: '•';
    color: #00aafd;
    display: none;
    position: absolute;
    left: -15px;
    font-size: 1.2em;
}

.btn-section:hover,
.btn-section.selected {
    background-color: #20398d;
    border-color: #20398d;
    color: #fff;
    padding-left: 20px;
    width: fit-content;
}

.btn-section.selected::before {
    display: inline-block;
}

.social-links {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 90px;
    width: 100%;
}

.social-link {
    font-size: 0.8em;
    display: inline-block;
    color: #9d9da2;
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-link img {
    width: 12px;
    height: 12px;
    padding: 0 1px 0 0;
}

.social-link:hover {
    color: #3a86ff;
}

.content {
    flex: 1;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    display: none;
}

.content-section {
    margin-bottom: 80px;
}

.skills-grid {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
}

.skill-card {
    background-color: #181c24;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: none;
    transition: transform 0.3s;
    position: relative;
    color: #fff;
}

.skill-card:nth-child(3n+2) {
    top: -90px; /* Adjust this value to achieve the desired elevation */
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card img {
    max-width: 50px;
    margin-bottom: 10px;
}

.skill-card p {
    font-weight: bold;
    margin-bottom: 5px;
    color: #c5c5c5;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card {
    background-color: #181c24;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-status {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.7em;
}

.project-status.finished {
    color: #72bf6a;
}

.project-status.in-progress {
    color: #234cca;
}

.project-status.refactor {
    color: #ffa500;
}

.project-title {
    color: #00aafd;
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: 1000;
    margin-top: 10px;
}

.project-tech {
    font-size: 0.9em;
    color: #fff;
    margin-bottom: 25px;
}

.project-description {
    font-size: 0.8em;
    color: #bbb;
    flex: 1;
    margin-bottom: 25px;
    line-height: 1.6;
}

.project-icons {
    display: flex;
    justify-content: space-between;
}

.project-icons img {
    width: auto;
    height: 36px;

}

.experience-card {
    background-color: #181c24;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    box-shadow: none;
    transition: transform 0.3s;
    margin-bottom: 25px;
}

.experience-card:hover {
    transform: translateY(-10px);
}

.experience-card .experience-duration {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.15em;
}

.experience-card .company-name {
    color: #fff;
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 0.08em;
}

.experience-card h2 {
    color: #00aafd;
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: 1000;
}

.experience-card .description {
    color: #9d9da2;
    font-size: 0.8em;
    padding-bottom: 10px;
    line-height: 1.8;
}

.experience-card .description span {
    display: block;
}

.experience-card .description span::before {
    content: '•';
    color: #00aafd;
    display: inline-block;
    margin-right: 5px;
}

.company-logo {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 70px;
    height: auto;
}

.info-card {
    margin-top: 20px;
    background-color: #181c24;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    box-shadow: none;
    transition: transform 0.3s;
}

.info-card:hover {
    transform: translateY(-10px);
}

.info-card .section-period {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.15em;
}

.info-card h2 {
    color: #00aafd;
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: 1000;
}

.info-card p {
    color: #9d9da2;
    font-size: 0.8em;
    padding-bottom: 10px;
    line-height: 1.8;
}

footer {
    font-size: 0.7em;
    text-align: center;
    padding: 10px 0;
    color: #9d9da2;
    background-color: transparent;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .profile {
        flex: none;
        margin: 20px auto;
        padding: 20px;
        width: 100%;
        max-width: 400px;
    }

    .profile-inner {
        padding-top: 60px;
    }

    .profile-pic {
        top: -50px;
        left: calc(50% - 50px);
    }

    .btn-primary {
        top: 20px;
        right: 20px;
    }

    .greeting {
        font-size: 2em;
        text-align: center;
    }

    .highlight {
        display: block;
    }

    .description {
        text-align: center;
    }

    .btn-section-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-links {
        flex-direction: column;
        gap: 10px;
    }

    .content {
        padding: 0 10px;
    }

    .skills-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
    }

    .skill-card:nth-child(3n+2) {
        top: -25px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}